<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="TicTacToeBlue.TicTacToeBlue" android:versionCode="1" android:versionName="10.1.2016" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="TicTacToe Blue" android:theme="@style/MyTheme" android:icon="@drawable/Icon"></application>
</manifest>